body{
margin:0;
font-family:Arial;
background:#0b0f1a;
color:white;
}

header{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
}

#grid{
display:grid;
grid-template-columns:repeat(auto-fill,180px);
gap:20px;
padding:20px;
}

.card{
background:#1e293b;
border-radius:8px;
overflow:hidden;
cursor:pointer;
}

.card img{
width:100%;
}

.player{
width:900px;
background:#020617;
padding:20px;
}

#playerModal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
}

.hidden{
display:none;
}

iframe{
width:100%;
height:500px;
border:none;
}
