body{
margin:0;
background:#0b0f1a;
color:white;
font-family:Arial;
}

header{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

#search{
padding:10px;
width:260px;
}

.row{
margin:25px;
}

.row h2{
margin-bottom:10px;
}

.rowScroll{
display:flex;
gap:12px;
overflow-x:auto;
padding-bottom:10px;
}

.card{
min-width:160px;
background:#1e293b;
border-radius:8px;
cursor:pointer;
transition:.2s;
}

.card:hover{
transform:scale(1.06);
}

.card img{
width:100%;
border-radius:8px;
}

.player{
width:900px;
background:#020617;
padding:20px;
}

.closeBtn{
padding:8px 14px;
margin-bottom:10px;
}

#playerModal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
}

.hidden{
display:none;
}

iframe{
width:100%;
height:500px;
border:none;
}
